@model Crowdfund.Web.Models.ProjectsViewModel



<ul>
    @{
        foreach (var project in Model.BuyerProjects) {
            <li>
                
                @project.Title


            </li>
        }
    }
</ul>